<div id="<%= 'modal' + category.name %>" class='modal fade in' data-keyboard="false" data-backdrop="static" tabindex="-1" style="display: none;">

  <div>
    <h3>Create a FAQ</h3>
    <%= link_to 'Close', '#modal' + category.name, class: 'btn btn-primary btn-sm btn-modal-close' %>
  </div>

  <%= form_for category  do |f| %>
    
    <div class='program-select'>
      <h5><%= category.name %></h5>
      <%= f.hidden_field :id %>
      <%= hidden_field_tag 'tab', category.name %>
    </div>
    <%= f.fields_for :faqs, category.faqs.new do |faq| %>
 
      <div>
        <%= faq.label :question %><br />
        <%= faq.text_area :question %>
      </div>

      <div>
        <%= faq.label :answer %><br />
        <%= faq.text_area :answer %>
      </div>
    <% end %>

    <div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div> 
  <% end %>

</div>

