<div id="<%= 'modalrename' + category.name %>" class='modal fade in' data-keyboard="false" data-backdrop="static" tabindex="-1" style="display: none;">

  <div>
    <h3>Rename FAQ Category</h3>
    <%= link_to 'Close', '#modalrename' + category.name, class: 'btn btn-primary btn-sm btn-modal-close' %>
  </div>

  <%= form_for(category) do |f| %>
      <%= f.hidden_field :id %>
    <div>
      <%= f.label :name %><br />
      <%= f.text_area :name %>
    </div>
    <div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>