<div id="createfaqmodal" class='modal fade in' data-keyboard="false" data-backdrop="static" tabindex="-1" style="display: none;">

  <div>
    <h3>Create a FAQ</h3>
    <%= link_to 'Close', '#createfaqmodal', class: 'btn btn-primary btn-sm btn-modal-close' %>
  </div>

  <%= form_for @faq,  url: faq_categories_path(@faq) do |f| %>
  <div class='program-select'>
    <%= f.label :faq_category %><br>
    <%= f.select :faq_category, select_category, { include_blank: true, default: nil }, class: 'selectpicker', data: {style: 'btn-inverse', title: 'Select FAQ Category'} %><br>
  </div>
    <div>
      <%= f.label :question %><br />
      <%= f.text_area :question %>
    </div>

    <div>
      <%= f.label :answer %><br />
      <%= f.text_area :answer %>
    </div>

    <div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

      