<body class='devise-body'>
  <div class='devise-wrapper'>
    <div class='login-wrapper'>
      <div class='center_header'>
        <h2>Sign up</h2>
      </div><br>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <div class="alert-error">
          <%= devise_error_messages! %>
        </div>

        <div><%= f.label :email %><br>
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %><br>
        <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %></div>

        <% if params[:programs] %>
          <%= hidden_field_tag(params[:programs]) %>
        <% end %>

        <div><%= f.submit "Sign up", class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</body>