<body id='eventcalpage' class='navbar-help'>
  <div class='homeimagenav'><%= link_to image_tag("uueecwhite.png", size: "150x150"), root_path %></div>
  <div id='eventpagewrapper'>
    <div id='eventflower'></div>
    <div id='calendarTitle'>
      <h1>Volunteer Calendar</h1>
    </div>
    <div id='eventcalendarwrapper'>
      <% if current_user %>
        <% if can? :create, Event %>
          <br><%= link_to 'Volunteer', '#createobligationmodal', class: 'btn btn-primary btn-modal-open' %>
        <% end %>
      <% end %>
	  <div id='calendarObligations'></div>
    </div>
  </div>
  <%= render partial: 'obligations/partials/view_obligation' %>
  <%= render partial: 'obligations/partials/create_obligation' %>
  <% if current_user %>
    <% if can? :delete, Obligation %>
      <span id='hiddenUserObligations' type='hidden'><%= current_user.id %></span>
    <% end %>
  <% end %>
</body>

<!-- fc-button fc-button-month fc-state-default fc-corner-left fc-state-active -->