<%= link_to 'Home page', root_path %><br><br>
<%= link_to 'Obligations page', obligations_path %><br><br>




 <%= form_for(@obligation) do |f| %>
  <div>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  <%= f.check_box :allDay %>
  <%= f.label :allDay %><br />
  </div>

  <div class='datetimepickersss input-append date'>
  <%= f.label :start %>
  <%= f.text_field :start, data: { format: "dd-MM-yyyy hh:mm:ss"} %>
  <span class='add-on'>
    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
  </span>
  </div>

   <div class='datetimepickersss input-append date'>
  <%= f.label :end %>
  <%= f.text_field :end, data: { format: "dd-MM-yyyy hh:mm:ss"} %>
  <span class='add-on'>
    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
  </span>
  </div>

 
  <div>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
  </div>
  <div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
  <% end %>



