<div id="createobligationmodal" class='modal fade in' data-keyboard="false" data-backdrop="static" tabindex="-1" style="display: none;">
  <div>
    <h3>Volunteer</h3><button type='button' class="button_closeObligation btn btn-xs" data-type='CreateObligationModal'>Close</button>
  </div>


 <%= form_for(@obligation) do |f| %>
  <div>
  <%= f.label :title, 'Name' %><br />
  <%= current_user.first_name.humanize + ' ' + current_user.last_name.humanize %>
  <%= f.hidden_field :title, {value: current_user.first_name + ' ' + current_user.last_name } %>
  </div>

  <div id='datetimepickerstart' class='datetimepickerobligation input-group date obligationStart'>
  <%= f.label :start %><br>
    <div class="container">
      <div class="row">
          <div class='col-sm-4'>
              <div class="form-group">
                  <div class='input-group date' id='obligationStart' data-date-format="DD-MM-YYYY hh:mm:ss">
                    <%= f.text_field :start, class: 'form-control' %>
                      <span class="input-group-addon"><span class="fa fa-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

   <div id='datetimepickerend' class='datetimepickerobligation input-group date obligationEnd'>
  <%= f.label :end %><br>
  <div class="container">
      <div class="row">
          <div class='col-sm-4'>
              <div class="form-group">
                  <div class='input-group date' id='obligationEnd' data-date-format="DD-MM-YYYY hh:mm:ss">
                    <%= f.text_field :end, class: 'form-control' %>
                      <span class="input-group-addon"><span class="fa fa-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

 
  <div>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
  </div>
  <div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
  <% end %>

  <div id='createobligationbody' class="modal-body">
  </div>
</div>
