<div id='uueecBanner'></div>
<div id='welcomephoto'></div>
<div id='welcomemessage'>
  <div id='circle'></div>
  <div id='welcomemessagepara'>
    <p>
      <b>A <span>Cooperative Early Education Program</span> that brings <span>parents</span> and <span>children</span> together within a learning environment that <span>supports</span> each child's <span>individual growth</span>, while also <span>creating</span> a supportive <span>community</span> of <span>parents</span>.</b>
    </p>
  </div>  
</div>

<div id='welcomedivcontainer'>
  <div id='welcomeevents' class='welcomedivselections'>
    <h3>Upcoming Events</h3>
    <div id='eventdiv'></div>
    <h5>Click for upcoming events</h5>
    <p>We hold all kinds of events throughout the year for our children and their parents.</p>
  </div>
  <div id='welcomeblog' class='welcomedivselections'>
    <h3>Our Blog</h3>
    <div id='blogdiv'></div>
    <h5>Click to read our blog</h5>
    <p>We update our blog frequently with information you may be searching for. Take a moment and check it out.</p>
  </div>
  <div id='welcomeprograms' class='welcomedivselections'>
    <h3>Child Programs</h3>
    <div id='programdiv'></div>
    <h5>Click for program details</h5>
    <p>We offer dynamic programs for three age groups in which to prepare our young minds for the world.</p>
  </div>
</div>

<div id='welcomephilosophy'>
  <div id='philosophycirclecontainer'>
    <ul class="ch-grid">
        <li id='circleone'>
            <div class="ch-item ch-img-1">
              <div class='circleword'>Parent</div>
                <div class="ch-info pink">
                    <p>"A parent is a child's best teacher"</p>
                </div>
            </div>
        </li>
        <li id='circletwo'>
            <div class="ch-item ch-img-2">
              <div class='circleword'>Child</div>
                <div class="ch-info blue">
                    <p>"The perfect academic climate for a young child is a play-based environment"</p>
                </div>
            </div>
        </li>
        <li id='circlethree'>
            <div class="ch-item ch-img-3">
              <div class='circleword'>Community</div>
                <div class="ch-info green">
                    <p>"It takes an active and loving community to raise an active and loving child."</p>
                </div>
            </div>
        </li>
    </ul>
    <div id='dotpath'></div>
    <div id='philosophywrapper'>
      <div id='philosophytop'>Philosophy</div>
      <div id='philosophybottom'>Philosophy</div>
    </div>
    <div id='philosentancewrapper'>
      <p id='philosophysentanceone' class='sentance ToGray'>"Provide parents with positive language and parenting techniques, alongside the opportunity to interact with their child in classroom participation."</p>
      <p id='philosophysentancetwo' class='sentance ToGray'>"Develop cognitive, social, emotional, linguistic, creative, and physical skills in each unique child."</p>
      <p id='philosophysentancethree' class='sentance ToGray'>"Encourage each child to make their own choices, and be responsible for their own behavior."</p>
      <p id='philosophysentancefour' class='sentance ToGray'>"Create a community that fosters and values positive lifelong parent-child relationships."</p>
    </div>
    <div id='clickHerewrapper'>
      <div id='clickHere'></div>
    </div>
  </div>
</div>

<div id='welcomecurriculum'>
  <div id='curriculumwrapper'>
    <div id='pillars'></div>
    <div id='swing'></div>
    <div id='twoswing'></div>
    <div id='curriculuminfowrapper'>
      <div id='curheadline'>
        <h1>Award-winning Curriculum</h1>
        <p>- Research-based content fully aligned with the <em>Head Start Child Development Early Learning Framework</em> and <em>Arizona State Early Learning</em> standards.-</p>
      </div>
       <div id='curmessageone' class='curmessage speachbubble'>
        <h5>Individualized Instruction</h5>
        <p>- Teachers capitalize on daily opportunites to individualize instruction to meet the needs of every type of learner.-</p>
      </div>
      <div id='curmessagetwo' class='curmessage speachbubble'>
        <h5>Mindful Play</h5>
        <p>- Exploration and discovery as a way of learning enables children to develop confidence, creativitiy, and lifelong critical thinking skills.-</p>
      </div>
      <div id='curmessagethree' class='curmessage speachbubble'>
        <h5>Critical Thinking</h5>
        <p>- Includes important areas of learning in social-emothional, math, technology, arts, and language. -</p>
      </div>
      <div id='curmessagefour' class='curmessage speachbubble'>
        <h5>Informed Parenting</h5>
        <p>- Parent participation in the classroom and parent education are ways we support the family and its growth. -</p>
      </div>
    </div>
  </div>
</div>

<div id='welcomeinvite'>
  <div id='welcomeinvitewrapper'>

    <h1>Come Visit Us!</h1>
    <div id='visitorForm'>
      <%= form_for(@visitor) do |f| %>
        <%= f.label :firstname, 'First Name' %><br>
        <%= f.text_field :firstname %><br>
        <%= f.label :lastname, 'Last Name' %><br>
        <%= f.text_field :lastname %><br>
        <%= f.label :email %><br>
        <%= f.text_field :email %><br>
        <div>
          <div class='divinline'>
            <%= f.label :numkids, '# of Kids' %><br>
            <%= f.select :numkids, (1..10), {}, class: 'selectpicker', data: {style: 'btn-inverse'} %>
          </div>
          <div id='ageDiv' class='divinline'>
            <%= f.label :ages, 'Age(s)' %><br>
            <%= f.select :ages, (2..5), {}, {multiple: true, title: 'age', class: 'selectpicker', data: {style: 'btn-inverse'}} %><br>
          </div>
        </div>
        <%= f.label :howfindus, 'How did you find us?' %><br>
        <%= f.text_area :howfindus, size: '33x3' %><br><br>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <div id='visitorforminstructions'>
      <p>If you would like to find out more </p>
      <p>4027 E Lincoln Drive</p>
      <p>Paradise Valley, AZ 85253</p>
      <h5>Contact 
    </div>
  </div>
</div>

<div id='welcomefooter'>
  <div id='footericonwrapper'>
    <!-- <div id='uueecfootericon'></div> -->
    <h5>- Site created by -</h5>
    <div id='simplizitfootericon' class='simplizitfootericonblue'></div>
    <div id='grasswrapper'>
      <div id='grassmain' class='grassmainblue'></div>
    </div>
  </div>
</div>

<div id='footeractivate'></div>

