 <%= link_to 'Home page', root_path %><br><br>
  <%= link_to 'Events page', events_path %><br><br>


 <%= form_for(@event) do |f| %>
  <div>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </div>
  <div>
  <%= f.label :start %><br />
  <%= f.datetime_select :start %>
  </div>
  <div>
  <%= f.label :end %><br />
  <%= f.datetime_select :end %>
  </div>
  <div>
  <%= f.label :allDay %><br />
  <%= f.check_box :allDay %>
  </div>
  <div>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
  </div>
  <div>
  <%= f.submit %>
  </div>
  <% end %>