<br><%= link_to 'Home page', root_path %><br>


<% if @user %>
  <%= form_for @user, url: user_path(@user.id) do |f| %>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br><br>
    <%= f.submit "Update Profile", class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'Change Password', edit_user_registration_path %><br><br>


<% if @userobligations %>
  <p>You have <%= @userobligations.count %> volunteer obligations scheduled</p>
  <% @userobligations.each do |obligation| %>
    <div class='profileobligation'>
      <%= obligation.title %> - 
      <%= obligation.start.strftime('%A, %B %d - %Y') %>
      <% if obligation.up_for_swap == false %>
        <%= button_to "Swap?", obligation_path(obligation, { swapremove: 'swap' }), method: :put, class: "btn btn-success btn-xs" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @obligationsupforswap %>
  <br><p>These are the obligations up for swap.</p>
  <% @obligationsupforswap.each do |obligation| %>
    <div class='profileobligation'>
      <%= obligation.title %> - 
      <%= obligation.start.strftime('%A, %B %d - %Y') %>
      <% if obligation.user_id == current_user.id %>
        <%= button_to "Remove", obligation_path(obligation, { swapremove: 'remove' }), method: :put, class: "btn btn-warning btn-xs" %>
      <% end %>
      <% if obligation.user_id != current_user.id %>
        <%= link_to "Propose Swap", '#swapobligationmodal', class: "btn btn-info btn-xs swapobligation" %>
        <%= render partial: 'obligations/partials/swap_obligation', locals: { obligation: obligation, obligations: @userobligations } %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <br><p>There are currently no obligations up for swap.</p>
<% end %>


<% if @obligation_offers %>
  <p>You have <%= @obligation_offers.count %> obligations with swap offers to confirm</p>
  <% @obligation_offers.each do |offers| %> 
    <%= offers[:original].first.title %> - 
      <%= offers[:original].first.start.strftime('%A, %B %d - %Y') %><br>
      <% if true %>
        <%= link_to "View proposals", '#viewswapobligationsmodal', class: "btn btn-info btn-xs viewswapobligation" %>
        <%= render partial: 'obligations/partials/view_swap_obligations', locals: { original: offers[:original].first, offers: offers[:proposals] } %>
      <% end %>
  <% end %>
<% end %>
