<% if can? :read, :all %>
<p><span style='color:red'>You should not be allowed to view this if you are a guest</span></p>
<% end %>


<%= link_to 'Home page', root_path %>

  <div id='roleSearch' class="row col-sm-4">
    <div class="input-group">
      <input type="text" id='role_search' class="form-control">
      <span class="input-group-addon">
        <i class="fa fa-search"></i>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.row -->
          
  <% if @all_users %>
    <% counter = 0 %>
    <table id='roletable' class="table table-striped table-hover tablesorter">
      <thead>
        <tr>
          <th>#</th>
          <th><%= sortable 'last_name', 'Last Name' %></th>
          <th><%= sortable 'first_name', 'First Name' %></th>
          <th><%= sortable 'email', 'E-mail' %></th>
          <th><%= sortable 'roles_mask', 'Authorization Rights' %></th>
        </tr>
      </thead>
      <% @all_users.each do |type, users| %>
        <% if users.length > 0 %>
          <tr>
            <td class='tableDevider'></td>
            <td class='tableDevider'></td>
            <td class='tableDevider'></td>
            <% if type == :guests %>
              <td class='tableDevider' align='center'><strong>- <%= type.to_s.capitalize %> have no roles -</strong></td>
            <% else %>
              <td class='tableDevider' align='center'><strong><%= type.to_s.chomp('s').capitalize %> Roles</strong></td>
            <% end %>
            <td class='tableDevider'></td>
          </tr>
        <% end %>
        <tbody class='role_table_body'>
          <% users.each do |user| %>
            <% counter += 1 %>
            <tr>
              <td><%= counter %><span hidden><%= user.id %></span></td>
              <td><%= user.last_name %></td>
              <td><%= user.first_name %></td>
              <td><%= user.email %></td>
              <td>
              <%= form_tag(roles_update_path(user), method: 'put') do %>
                <% for role in User::ROLES %>
                  <% if role == 'admin' && current_user.email == user.email %>
                    <%= check_box_tag "user[roles][#{role}]", role, user.roles.include?(role), {:name => "user[roles][]", disabled: true}%>
                    <%= hidden_field(:user, :roles, multiple: true, value: 'admin') %>
                  <% else %>
                    <%= check_box_tag "user[roles][#{role}]", role, user.roles.include?(role), {:name => "user[roles][]"}%>
                  <% end %>

                  <% if user.roles.include?(role) %>
                    <%= label_tag "user_roles_#{role}", role.humanize, class: 'makeGreen' %>
                  <% else %>
                    <%= label_tag "user_roles_#{role}", role.humanize %>
                  <% end %>
                <% end %>
                <%= hidden_field_tag "user[roles][]", "" %>
                <%= submit_tag "Update", class: 'btn btn-xs btn-warning' %>
              <% end %>
            </td>
          </tr>
        <% end %>  
      </tbody>
    <% end %>
  </table>
<% end %>