<body>
  <div id='tab_management_wrapper'>
<% if can? :manage, :all %>



  <div class='admin'>
    <div class='tab-wrapper'>
      <div class="divinline roleULTabs">
        <ul class="divinline nav nav-tabs">
          <li class="active divinline"><a href='#tab1' data-toggle='tab'>Access</a></li>
          <li><a href='#tab2' class='divinline icon-group' data-toggle='tab'>Students</a></li>
          <!-- <li><a href='#tab3' class='icon-folder-open' data-toggle='tab'></a></li>
          <li><a href='#tab4' class='icon-calendar' data-toggle='tab'></a></li> -->
        </ul>
      </div>

      <div id='roleSearch' class="divinline row col-sm-4">
        <div class="input-group">
          <input type="text" id='role_search' class="form-control">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.row -->

      <div class='tab-content tab-cell'>
        <div class='tab-pane active' id='tab1'>
          <% if @all_users %>
            <% counter = 0 %>
            <table id='roletable' class="table table-striped table-hover tablesorter">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= sortable 'last_name', 'Last Name' %></th>
                  <th><%= sortable 'first_name', 'First Name' %></th>
                  <th><%= sortable 'email', 'E-mail' %></th>
                  <th><%= sortable 'roles_mask', 'Authorization Rights' %></th>
                </tr>
              </thead>
              <% @all_users.each do |type, users| %>
                <% if users.length > 0 %>
                  <tr>
                    <% if type == :guests %>
                      <td colspan='5' class='tableDevider' align='center'><strong>- <%= type.to_s.capitalize %> have no roles and limited access -</strong></td>
                    <% else %>
                      <td colspan='5' class='tableDevider' align='center'><strong><%= type.to_s.chomp('s').capitalize %> Roles</strong></td>
                    <% end %>
                  </tr>
                <% end %>
                <tbody class='role_table_body'>
                  <% users.each do |user| %>
                    <% counter += 1 %>
                    <tr>
                      <td><%= counter %><span hidden><%= user.id %></span></td>
                      <td><%= user.last_name %></td>
                      <td><%= user.first_name %></td>
                      <td><%= user.email %></td>
                      <td>
                        <%= form_tag(roles_update_path(user), method: 'put', id: 'auth_rights_form') do %>
                          <% for role in User::ROLES %>
                            <% if role == 'admin' && current_user.email == user.email %>
                              <div class='divinline checkbox'>
                                <%= hidden_field(:user, :roles, multiple: true, value: 'admin') %>
                                <%= check_box_tag "user[roles][#{role}]", role, user.roles.include?(role), {id: user.id.to_s + role, :name => "user[roles][]", disabled: true}%>
                            <% else %>
                              <% if role != 'guest' %>
                                <div class='divinline checkbox'>
                                  <%= check_box_tag "user[roles][#{role}]", role, user.roles.include?(role), {id: user.id.to_s + role, :name => "user[roles][]"}%>
                              <% end %>
                            <% end %>
                            <% if role != 'guest' %>
                              <% if user.roles.include?(role) %>
                                <%= label_tag user.id.to_s + role, role.humanize, class: 'makeGreen' %>
                              </div>
                              <% else %>
                                <%= label_tag user.id.to_s + role, role.humanize %>
                              </div>
                              <% end %>
                            <% end %>
                          <% end %>
                          <div class='divinline'>
                          <%= hidden_field_tag "user[roles][]", "" %>
                          <%= submit_tag "Update", class: 'btn btn-xs btn-warning roles_update_button' %>
                        </div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              <% end %>
            </table>
          <% end %>
        </div>

        <div class='tab-pane' id='tab2'>
          <% if @all_students %>
            <% counter = 0 %>
            <table id='roletable' class="table table-striped table-hover tablesorter">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= sortable 'last_name', 'Last Name' %></th>
                  <th><%= sortable 'first_name', 'First Name' %></th>
                  <th><%= sortable 'birthdate', 'Birthdate' %></th>
                  <th><%= sortable 'enrolled', 'Enrolled' %></th>
                  <th><%= sortable 'program', 'Program' %></th>z
                  <th><%= sortable 'vaccinations_current', 'Vac Current' %></th>
                  <th><%= sortable 'vaccination_waiver', 'Vac Waiver' %></th>
                </tr>
              </thead>
                              <tbody class='role_table_body'>

              <% @all_students.each do |student| %>

                    <% counter += 1 %>
                    <tr>
                      <td><%= counter %><span hidden><%= student.id %></span></td>
                      <td><%= student.last_name %></td>
                      <td><%= student.first_name %></td>
                      <td class='center_text'><%= student.birthdate %></td>
                      <% enrolled = student.enrolled ? 'Yes' : 'No' %>
                      <td class='center_text'><%= enrolled %></td>
                      <td><%= student.program %></td>
                      <% vac_current = student.vaccinations_current ? 'Yes' : 'No' %>
                      <td class='center_text'><%= vac_current %></td>
                      <% vac_waiver = student.vaccination_waiver ? 'Yes' : 'No' %>
                      <td class='center_text'><%= vac_waiver %></td>
                    </tr>

              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
</div>
</body>
