<div id="createeventmodal" class='calendarModal modal fade in' data-keyboard="false" data-backdrop="static" tabindex="-1" style="display: none;">

  <div>
    <h3 class="divinline">Create Event</h3>
    <%= link_to 'Close', '#createeventmodal', class: 'divinline btn btn-primary btn-sm btn-modal-close' %>
  </div>

  <%= form_for(@event) do |f| %>
    <div class="modalHeader">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
      <%= f.check_box :allDay %>
      <%= f.label :allDay %><br />
    </div>

    <div class='divinline'>
      <%= f.label :start %><br />
    	<div class='input-append date start_date' data-date-format="dd-mm-yyyy H:ii p">
      	<%= f.text_field :start, readonly: true, class: 'divinline', maxlength: '30', placeholder: 'Begin' %>
      	<div class='divinline input-button'>
        	<span class="add-on"><i class="icon-th fa fa-calendar"></i></span>
      	</div>
      	<div class='divinline input-button'>
        	<span class="add-on"><i class="icon-remove fa fa-times-circle-o"></i></span>
      	</div>
      </div>
  	</div>

  	<div class='divinline'>
    	<%= f.label :end %><br>
    	<div class='input-append date end_date' data-date-format="dd-mm-yyyy H:ii p">
      	<%= f.text_field :end, readonly: true, class: 'divinline', maxlength: '30', placeholder: 'End' %>
      	<div class='divinline input-button'>
        	<span class="add-on"><i class="icon-th fa fa-calendar"></i></span>
      	</div>
      	<div class='divinline input-button'>
        	<span class="add-on"><i class="icon-remove fa fa-times-circle-o"></i></span>
      	</div>
    	</div>
  	</div>

    <div>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>

    <div class="modalSubmitBtn">
      <%= f.submit 'Submit', class: 'btn btn-primary'  %>
    </div>
  <% end %>
</div>