<!DOCTYPE html>
<html ng-app='fredMake'>
  <head>
    <title>Uueec</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <noscript><strong id='jsDisabled'>Javascript is disabled in your browser.  This site will not fuction to its full potential.  Please turn Javascript on.</strong></noscript>
    
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <div class='navbarwrapper'>
      <ul class='navbar nav nav-pills pull-right'>
        <li><%= link_to 'Events', events_path %></li>
        <li><%= link_to 'Blog', blogs_path %></li>
        <li><%= link_to 'FAQ', faq_categories_path %></li>
        <li><%= link_to 'Staff', welcome_staff_path %></li>
        <% if current_user %>
          <li><%= link_to 'Profile', user_index_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li></br>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, method: 'get' %></li>
          <li><%= link_to "Sign In", new_user_session_path, method: 'get' %></li><br>
        <% end %>
        <% if current_user && current_user.is?('member') %>
          <hr id='navbar_hr'>
          <ul id='bottom_nav_bar' class='navbar nav nav-pills pull-right bottom_nav_bar'>
            <% if can? :manage, :all %>
              <li><%= link_to 'Admin', roles_index_path %><br></li>
            <% end %>
            <% if can? :manage, Obligation %>
              <li><%= link_to 'Volunteer', obligations_path %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
